beautifulsoup4==4.12.3
bottle==0.13.1
Brotli==1.1.0
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
idna==3.10
mutagen==1.47.0
packaging==24.1
proxy_tools==0.1.0
pycryptodomex==3.21.0
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-Quartz==10.3.1
pyobjc-framework-Security==10.3.1
pyobjc-framework-WebKit==10.3.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
pywebview==5.2
requests==2.32.3
setuptools==75.1.0
sip==6.8.6
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.2.3
websockets==13.1
yt-dlp==2024.10.7
